.page-wrapper {
  padding: 0;
  padding-top: 0;
  text-align: center;
  background-color: brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3%;
  margin: 0;
}

.menu-wrapper{
  flex-grow: .25;
  color: antiquewhite;
}

.page-wrapper h2{
  padding: 2%;
}

.calc-wapper{
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color:dimgray;
  flex: 1;
  border: black solid 2px;
  flex-wrap: wrap;
}

#screen {
  width: 90%;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 2%;
  padding: 3%;
  background-color: beige;
}

.num-wrapper{
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.func-wrapper{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.num-button{
  flex: 0 0 33%;
  background-color:lavender;
}

.func-button{
  flex: 1 1 50%;
  padding: 3%;
  background-color: aquamarine;
}